section.shopping-cart-wrapper 
    section.cart-wrapper 
        article.cart 
            form.cart-form 
                table.cart-table 
                    width: 100%
                    thead 
                        display: none
                        tr 
                            th 
                                display: none
                    tbody 
                        width: 100%
                        display: block

                        tr 
                            display: block
                            td
                                &#product-num,
                                &#image,
                                &#product-details-wrapper,
                                &#price,
                                &#quantity,
                                &#subtotal,
                                &#remove
                                    min-width: 100% !important
                                    width: 100% !important
                                    display: block