/*
The styles in this stylesheet only apply to resolutions 768px and up

CALCULATING DIMENSIONS:
----------------------
The layout is fluid. The sote wrapper (.col-full) has a fixed pixel max-width.
All subsequent dimensions are calculated based on that fixed pixel width, using the formula: target / context = result
Credit - http://www.alistapart.com/articles/fluidgrids/

-----
INDEX
-----

1. Global dropdown styles
2. Top Navigation
3. Main navigation dropdown menus
 -3.1 General dropdown menus
4. Containers & Columns
5. Footer widgets
6. IE Fixes

/*----------------------*/
/**
 * Variables
 */
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Animations
 */
@-webkit-keyframes spin-360 {
 from {
 -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */

    -moz-transform: rotate(0);
    /* FF3.5+ */

    -ms-transform: rotate(0);
    /* IE9 */

    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
 zoom: 1;
}
 50% {
 -webkit-transform: rotate(180deg);
    /* Saf3.1+, Chrome */

    -moz-transform: rotate(180deg);
    /* FF3.5+ */

    -ms-transform: rotate(180deg);
    /* IE9 */

    -o-transform: rotate(180deg);
    /* Opera 10.5 */
    transform: rotate(180deg);
 zoom: 1;
}
to {
	-webkit-transform: rotate(0);
	/* Saf3.1+, Chrome */

    -moz-transform: rotate(0);
	/* FF3.5+ */

    -ms-transform: rotate(0);
	/* IE9 */

    -o-transform: rotate(0);
	/* Opera 10.5 */
    transform: rotate(0);
	zoom: 1;
}
}
/*----------------------*/
@media only screen and (min-width: 770px) {
	#inner-wrapper {
	left: 0 !important;
	padding-top: 4.75em !important;
}
#inner-wrapper .click-to-call {
	display: none;
}
/* 1. GLOBAL DROPDOWN STYLES (these are purely for the dropdown layout and you should only edit the width of the dropdowns) */
 ul.nav {
	position: relative;
	margin-bottom: 0;
	/* LEVEL 2 */
 /* LEVEL 3 */
}
ul.nav li {
	float: left;
	zoom: 1;
	list-style: none;
}
ul.nav li a {
	display: block;
	padding: 0.63em 1em 0.73em 1.5em;
}
ul.nav ul {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 9999;
	margin: 0;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
ul.nav ul li {
	float: left;
}
ul.nav ul li a {
	width: 100%;
	display: inline-block;
	-webkit-box-sizing: border-box;
	/* Safari/Chrome,other WebKit */
 -moz-box-sizing: border-box;
	/* Firefox,other Gecko */
 box-sizing: border-box;
	/* Opera/IE 8+ */
}
ul.nav ul ul {
	left: 100%;
	top: 0;
}
/* ul.nav li:hover > ul {
	visibility: visible;
	opacity: 1;
	filter: alpha(opacity=@opacity * 100);
}
ul.nav li:hover > ul ul {
	visibility: visible;
	opacity: 1;
}
*/
 /* 2. TOP NAVIGATION (Add top navigation presentational styles here) */
 #top {
	background: #5c5c5c;
	margin: 0 -1.618em;
	padding: 0 1.618em;
	display: block;
}
#top #top-nav,#top .top-navigation {
	display: block;
}
#top #top-nav h3,#top .top-navigation h3 {
	display: none;
}
#top ul.nav {
	font-size: 1em;
	/* LEVEL 2 */
 /* LEVEL 3 */
}
#top ul.nav > li a {
	border-right: 1px solid #444;
	color: #eee;
}
#top ul.nav > li a:hover {
	background: #555;
}
#top ul.nav > li:first-child a {
	border-left: 1px solid #444;
}
#top ul.nav > li:hover {
	background: #555;
}
#top ul.nav li.current-menu-item > a {
	background: #666;
}
#top ul.nav ul {
	background: #555;
}
/* 3. MAIN NAVIGATION DROPDOWN MENUS (Add main navigation presentational styles here) */
 /** * Resets * As the mobile nav features extensive styling,much of it needs to be reset for desktop orientation */
 .show-nav #inner-wrapper {
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.show-nav #navigation .top-navigation {
	display: none;
}
/** * The main navigation styling */
 #navigation {
	position: relative;
	width: 100%;
	left: auto;
	float: right;
	padding-top: 0;
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	clear: none;
	text-transform: uppercase;
	display: block !important;
	font-family: Alef,'Gotham Book',"Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-weight: bold;
}
#navigation .menus {
	margin: 0 auto;
	max-width:1000px;
}
#navigation .menus:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
}
#navigation .menus h3 {
	display: none;
}
#navigation ul.nav {
	position:static;
	float:right;
	/*width:100%;
	max-width:68% !important;*/
	width: 65% !important;
	/* LEVEL 2 */
 /* LEVEL 3 */
}


#navigation ul.nav > li {
	padding:0.85% 0 0.85% 7%;
}

 


#navigation ul.nav > li:first-child {
	/* border-left: 1px solid #E5E5E5;
	
	padding-left:0;*/
}
#navigation ul.nav > li a:hover {
	color: #9C0000;
}
#navigation ul.nav > li:hover {
	color: #9C0000;
}
#navigation ul.nav > li.current-menu-item a {
	color: #9C0000;
}
#navigation ul.nav li a {
	padding: 0.4em 0;
	text-shadow: none;
	border: 0;
	color: #333;
	font-size:0.9em;
}
#navigation ul.nav li.current-menu-item > a {
	color: #9C0000 !important;
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}
#navigation ul.nav li.current-menu-item > a:after {
	display: none;
}
#navigation ul.nav li ul a,#navigation ul.nav li ul ul li a {
	padding: 0.5em 1em;
}
#navigation ul.nav ul {
	background: #EFEFEF;
	font-family: "Alef",Arial,Helvetica,sans-serif;
	text-transform: capitalize;
	font-size: 0.935em;
	font-weight: bold;
	margin-left: 0 !important;
	/* -webkit-border-radius: 0.327em;
	border-radius: 0.327em;
	*/
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}
#navigation ul.nav ul li {
	/* border-bottom: 1px solid #3d3d3d;
	*/
}
#navigation ul.nav ul li:last-child {
	/*border: 0;
	*/
}
#navigation ul.nav ul li a {
	font-size: 1em;
	color:#9C0000;
	line-height:1.1em;
}
#navigation ul.nav ul > li a {
	font-size: 1.1em;
}
#navigation ul.nav ul li ul li a {
	font-size: 1.0em;
}
#navigation ul.nav ul li span{
	display:block;
	font-weight:normal;
	color:#999;
	font-size:12px;
}
#navigation ul.nav ul:before {
	width: 0;
	height: 0;
	border-color: transparent transparent #000 transparent;
	position: absolute;
	z-index: 10000;
}
#navigation ul.nav ul:after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background: transparent;
	z-index: -1;
}
#navigation ul.nav ul ul {
	border-radius: 0;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
#navigation ul.nav ul ul:after,#navigation ul.nav ul ul:before {
	content: none;
}
#navigation ul.nav li > ul {
	top: 100%;
	display:none;
}
#navigation ul.nav li:hover > ul {
	top: 100%;
	display: block;
}
#navigation ul.nav li:hover > ul ul {
	top: 0;
	display: block;
}
#navigation .widget_product_search {
	margin-bottom: 1.618em;
	border: 0;
}
#navigation .widget_product_search #searchform {
	border: 1px solid #dcdcdc;
	padding: 0;
	background: none;
}
#navigation .widget_product_search #searchform #s {
	padding: .857em 2.618em .857em .857em;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background: none;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#navigation .widget_product_search #searchform #searchsubmit {
	display: inline-block;
}
#navigation ul.cart li:first-child,#navigation ul.rss li:first-child {
	border-left: 0;
}
#navigation .nav-close,#navigation .nav-home {
	display: none;
}
.nav-toggle {
	display: none;
}

/* 3.2 NAV SUB MENU */


#menu-nav ul.menu-sub{
    background: none repeat scroll 0 0 #FFFFFF !important;
    border:none !important;
	box-shadow:0 2px 2px 1px rgba(0, 0, 0, 0.1) !important;
    left: 0;
	top:100%;
    width: 100%;
	padding:1em 0;
}

#menu-nav ul.menu-sub ul ul{
    left: 0;
    width: 100%;
	margin-left:1em !important;
}

#menu-nav ul.menu-sub li{
	float:left;
	position:relative;
	margin-right:0.9%;
}
#menu-nav ul.menu-sub > li {
    width: 15%;
}

#menu-nav .technology ul.menu-sub > li {
    width: 23%;
}

.wireless-modules ul.menu-sub > li {
    width: 15% !important;
}
#menu-nav .devices-services ul.menu-sub > li{
	width:15%;
}
#menu-nav .chipsets ul.menu-sub > li{
	width:25%;
}
#menu-nav .chipsets ul.menu-sub li.cat-thumbnail{
	width:30%;
	text-align:right;
}
#menu-nav ul.menu-sub li.cat-thumbnail{
	margin:0 1%;
	text-align:center;
}

#menu-nav ul.menu-sub > li{
	border-right: #CCC dashed 1px;
}

#menu-nav ul.menu-sub > li.clear-right-line{
	border-right:0 none;
	min-height:6em;
}

#menu-nav ul.menu-sub > li.mobile_networking{
	border-right:0 none;
}

#menu-nav ul.menu-sub > li ul.mobile_networking_last_ul{
	border-left: #CCC dashed 1px;
	box-shadow:0 0 0 0 rgba(0, 0, 0, 0.2);
	margin-top:2.8em !important;
}
.menu_center{
	width:200% !important;
	text-align:center;
	display:block !important;
}

#menu-nav ul.menu-sub > li:first-child,
#menu-nav ul.menu-sub > li:last-child{
	border-right:0 none;
}

#menu-nav ul.menu-sub li:last-child{
	margin-right:0;
}


.chipsets ul.menu-sub > li{
	min-height:15em;
	box-shadow:none !important;
}
.wireless-modules ul.menu-sub > li{
	min-height:35em;
	box-shadow:none !important;
}
.devices-services ul.menu-sub > li{
	min-height:15em;
	box-shadow:none !important;
}
.ip-licensing ul.menu-sub > li{
	min-height:15em;
	box-shadow:none !important;
}
.technology ul.menu-sub > li{
	min-height:4em;
	box-shadow:none !important;
}


#menu-nav ul.menu-sub ul{
    background: none repeat scroll 0 0 #FFFFFF;
    display: block !important;
    width:100%;
	position: static !important;
}
#menu-nav ul.menu-sub ul li{
    width:90%;
	line-height:1.1em;
}

#menu-nav ul.menu-sub ul li a{
	color:#000000 !important;
	background:#FFF url('/skin/frontend/base/default/images/bullet-red.png') left 0.75em no-repeat;
	margin:0 1em;
}
#menu-nav ul.menu-sub ul li a:hover{
	color:#9C0000 !important;
	background:#EFEFEF url('/skin/frontend/base/default/images/bullet-red.png') 0.35em 0.75em no-repeat;
}

#menu-nav ul.menu-sub ul li li a{
	color:#666 !important;
	background:#FFF url('/skin/frontend/base/default/images/arrow-red.png') left 0.75em no-repeat;
	margin:0 1em;
}
#menu-nav ul.menu-sub ul li li a:hover{
	color:#9C0000 !important;
	background:#EFEFEF url('/skin/frontend/base/default/images/arrow-red.png') 0.35em 0.75em no-repeat;
}

#menu-nav ul.menu-sub ul li span{
	display:block;
	font-weight:normal;
	margin-top:0.2em;
	color:#999;
}

#menu-nav ul.menu-sub ul li ul ul{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    position: relative !important;
    top: 0;
	width:100%;
	box-shadow:none;
}


	.home-columns .feature-box {
		padding:0 2.5%;
		max-width: 26.5%;
		float: left;
		border-right:#CCC solid 1px; 
	}
	.home-columns .feature-last-child{
		border-right:0 none;
	}
	.top-navigation {
		float: right;
	}

	#top-nav {
		float: right;
	}

	#searchform {
		max-width: 233px;
		min-height: 23px;
	}
		
	.search_main {
		float:right
	}
	#footer-nav {
		margin:0 0 0 13.5%;
		width: 85%;
	}
	#footer-nav > li {
		margin-left: 1%;
  		width: 24%;
  		text-align: left;
	}
	#footer .footer-logo {
		float:right;
	}
	#footer .footer-nav-bg {
		background: url('/skin/frontend/base/default/images/4DBanner.png') no-repeat left top;
	}

	.csstransforms3d.csstransitions #navigation, .csstransforms3d.csstransitions .show-nav #navigation, .csstransforms3d.csstransitions .show-nav #inner-wrapper {
		left: 0;
		-webkit-transform: translate3d(0%, 0, 0);
		-moz-transform: translate3d(0%, 0, 0);
		-ms-transform: translate3d(0%, 0, 0);
		-o-transform: translate3d(0%, 0, 0);
		transform: translate3d(0%, 0, 0);
	}
.csstransforms3d.csstransitions #navigation,.csstransforms3d.csstransitions .show-nav #navigation,.csstransforms3d.csstransitions .show-nav #inner-wrapper {
	left: 0;
	-webkit-transform: translate3d(0%,0,0);
	-moz-transform: translate3d(0%,0,0);
	-ms-transform: translate3d(0%,0,0);
	-o-transform: translate3d(0%,0,0);
	transform: translate3d(0%,0,0);
}
/* 4. CONTAINERS & COLUMNS */
 #header {
	position: fixed !important;
	z-index: 99999;
	width: 100%;
	top: 0;
	padding: 0;
}
#header #logo {
	margin: 0em 0.5em 0 0;
	display: block;
    float: left;
    max-width: 100%;
	position: absolute;
	
}
#header #back-to-home {
	width:100%;
	height:85px;
	max-width:300px;
	z-index:999999;
	display:block;
	position:absolute;
}
#header .mobile-logo {
	display: none;
}
#header .site-header {
	float: left;
}
#header .site-header h1,#header .site-header h2,#header .site-header h3 {
	float: none;
}
#header .site-header.with-description .site-title {
	margin-top: .618em;
}
#header .site-title,#header .site-description {
	text-align: left;
}
#header .site-title {
	margin: .857em 0 0;
}
#header ul.rss {
	margin-right: 0;
	padding-right: 0;
}
#header ul.rss > li:first-child {
	border-left: 0;
}
#header ul.rss li {
	border-right: 1px solid #797979;
}
/*#main.fullwidth,*/
 .layout-full #main,.col-full {
	margin: 0 auto;
}
.section-wrapper .nav{
	max-width:none !important;
}
#main.fullwidth {
	font-size: 0.85em;
	width: 100%;
}
#main {
}
#sidebar {
	top: 9em;
}
.entry img {
	max-width: 100%;
}
.single .post .entry-meta {
	/*width: 20%;
	float: left;
	*/
display: none;
}
.single .post .entry {
	width: 100%;
}
.layout-full .entry img {
	max-width: 100%;
	z-index: 99;
}
.layout-right-content #sidebar {
	float: left;
}
.layout-right-content #sidebar .primary {
	float: left;
	position: fixed;
	top: 9em;
	width: 22.2%;
	max-width: 240px;
	min-width: 210px;
	z-index: 9999;
	margin-top: 0;
	padding: 0.7em !important;
}
.layout-right-content #left-sidebar {
	margin: 0 auto;
	padding: 0;
	max-width: 1000px;
	position: static;
}
.layout-full #main {
	width: 100%;
}
.col-left {
	float: left;
}
.col-right {
	float: right;
}
.page-template-template-sitemap-php #sitemap-pages,.page-template-template-sitemap-php .product-categories {
	float: left;
	width: 48%;
}
.page-template-template-sitemap-php #sitemap-categories,.page-template-template-sitemap-php .products {
	float: right;
	width: 48%;
}
.page-template-template-sitemap-php #sitemap-posts {
	clear: both;
}
.page-template-template-sitemap-php .woocommerce:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
}
.page-template-template-contact-php .location-twitter .col-left {
	float: left;
}
.page-template-template-contact-php .location-twitter #office-location {
	width: 48%;
	margin: 0 1em 0 0;
}
.page-template-template-contact-php .location-twitter .contact-social {
	float: left;
	width: 48%;
}
.page-template-template-contact-php .location-twitter .contact-social #twitter {
	margin: 0;
}
#top-section header {
	float: left;
}
#top-section .widget_search,#top-section .widget_product_search {
	float: right;
	width: 23%;
	margin: 0;
}
/* 5. FOOTER WIDGETS */
 #footer {
	float: left;
	width: 100%;
}
#footer-widgets {
	width: 80%;
	float: right;
}
#footer-widgets .block {
	margin-right: 3.8%;
	float: left;
}
#footer-widgets.col-1 .block {
	width: 100%;
	float: none;
}
#footer-widgets.col-1 .footer-widget-1 {
	margin-right: 0;
}
#footer-widgets.col-2 .block {
	width: 48%;
}
#footer-widgets.col-2 .footer-widget-2 {
	margin-right: 0;
}
#footer-widgets.col-3 .block {
	width: 30.75%;
}
#footer-widgets.col-3 .footer-widget-3 {
	margin-right: 0;
}
#footer-widgets.col-4 .block {
	width: 22.05%;
}
#footer-widgets.col-4 .footer-widget-4 {
	margin-right: 0;
}
.col {
	float: left;
	margin-right: 3.8% !important;
}
.col.first {
	clear: left;
}
.col.last {
	clear: right;
	margin-right: 0 !important;
}
.clear {
	clear: both;
}
.col1 {
	width: 100%;
}
.col2 {
	width: 48%;
}
.col3 {
	width: 30.75%;
}
.col4 {
	width: 22.05%;
}
.entry .features:after,.page-template-template-business-php .features:after,.entry .testimonials:after,.page-template-template-business-php .testimonials:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
}
.entry .features .feature,.page-template-template-business-php .features .feature,.entry .testimonials .feature,.page-template-template-business-php .testimonials .feature,.entry .features .quote,.page-template-template-business-php .features .quote,.entry .testimonials .quote,.page-template-template-business-php .testimonials .quote {
	margin-right: 3.8%;
	float: left;
}
.entry .features.columns-2 .feature,.page-template-template-business-php .features.columns-2 .feature,.entry .testimonials.columns-2 .feature,.page-template-template-business-php .testimonials.columns-2 .feature,.entry .features.columns-2 .quote,.page-template-template-business-php .features.columns-2 .quote,.entry .testimonials.columns-2 .quote,.page-template-template-business-php .testimonials.columns-2 .quote {
	width: 48%;
}
.entry .features.columns-3 .feature,.page-template-template-business-php .features.columns-3 .feature,.entry .testimonials.columns-3 .feature,.page-template-template-business-php .testimonials.columns-3 .feature,.entry .features.columns-3 .quote,.page-template-template-business-php .features.columns-3 .quote,.entry .testimonials.columns-3 .quote,.page-template-template-business-php .testimonials.columns-3 .quote {
	width: 30.75%;
}
.entry .features.columns-4 .feature,.page-template-template-business-php .features.columns-4 .feature,.entry .testimonials.columns-4 .feature,.page-template-template-business-php .testimonials.columns-4 .feature,.entry .features.columns-4 .quote,.page-template-template-business-php .features.columns-4 .quote,.entry .testimonials.columns-4 .quote,.page-template-template-business-php .testimonials.columns-4 .quote {
	width: 22.05%;
}
/* Homepage */
 .homepage-area .home-section {
	padding: 5.874em 0;
}
.homepage-area .widget_woothemes_testimonials .quote,.homepage-area .widget_woothemes_features .quote,.homepage-area .widget_woothemes_testimonials .feature,.homepage-area .widget_woothemes_features .feature {
	width: 22.05%;
	float: left;
	margin-right: 3.8%;
	margin-bottom: 0;
}
.homepage-area .widget_woothemes_testimonials .quote: nth-child(4n+1),.homepage-area .widget_woothemes_features .quote: nth-child(4n+1),.homepage-area .widget_woothemes_testimonials .feature: nth-child(4n+1),.homepage-area .widget_woothemes_features .feature: nth-child(4n+1) {
	clear: left;
}
.homepage-area .widget_woothemes_testimonials .quote: nth-child(4n+4),.homepage-area .widget_woothemes_features .quote: nth-child(4n+4),.homepage-area .widget_woothemes_testimonials .feature: nth-child(4n+4),.homepage-area .widget_woothemes_features .feature: nth-child(4n+4) {
	clear: right;
	margin: 0;
}
#promotion .section-wrapper {
	padding: 4.236em 0;
}
#promotion .left-section {
	width: 70%;
	float: left;
}
#promotion .right-section {
	float: right;
}
#promotion .btn {
	display: inline;
}
.widget_woo_contactform p.contact-name,.widget_woo_contactform p.contact-email {
	width: 48%;
	float: left;
	margin-right: 3.8%;
}
.widget_woo_contactform p.contact-email {
	margin-right: 0;
	clear: right;
}
.widget_woo_contactform p.contact-submit input {
	width: auto;
}
#category-posts {
	padding: 5.874em 0 3.631em;
}
#category-posts .category {
	margin: 0 0 2.618em;
}
#featured-products ul.products li.product {
	width: 22.05%;
}
#homepage-columns .col {
	margin-bottom: 0;
}
.widget_woodojo_tabs ul.nav-tabs li a,.woocommerce_tabs ul.nav-tabs li a,.woocommerce-tabs ul.nav-tabs li a,.widget_woodojo_tabs ul.tabs li a,.woocommerce_tabs ul.tabs li a,.woocommerce-tabs ul.tabs li a {
	font-size: 1.214285714em;
}
/* 6. IE FIXES */
 .ie7 #top-nav {
	position: relative;
	z-index: 9999999;
}
.ie7 #header {
	position: relative;
	z-index: 9999999;
}
/* 7. FEATURED SLIDER */
 #featured-slider {
	margin: 0 auto;
}
#featured-slider .slide-media {
	max-width: 100%;
	margin: 2.244em auto 0;
}
#featured-slider .slide-content {
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 0;
	background: none;
}
#featured-slider .slide-content header h1 {
	font-size: 2.618em;
}
#featured-slider .slide-content .entry {
	font-size: 1.387em;
}
#featured-slider .flex-direction-nav .flex-prev {
	left: 4.244em;
}
#featured-slider .flex-direction-nav .flex-next {
	right: 4.244em;
}
#featured-slider .flex-direction-nav a {
	top: 50%;
}


#footer-wrapper {
	padding: 0;
	margin: 0;
}
#footer-inner-wrapper {
	padding: 0em 1em;
	margin: 0;
}
#footer-left {
	width: auto;
}
#footer-right {
	width: auto;
}
/* footer-nav */
ul.footer-nav li {
	position: relative;
	float: left;
	zoom: 1;
	list-style: none;
}
ul.footer-nav li a {
	display: block;
	padding: 0em em 0.63em 0;
	text-decoration: none;
	font-weight: bold;
}
ul.footer-nav ul {
	width: auto;
	top: 100%;
	left: 0;
	z-index: 9999;
	margin: 0;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
	filter: alpha(opacity=@opacity * 100);
	margin-top: 1em;
}
ul.footer-nav-connect {
	float: left;
}
#footer p.copyright {
	float: right;
	margin-top: 0.55em;
}
#footer-right {
	width: auto;
	border-top: none;
	margin-top: 0;
	padding-top: 0;
}
/*main nav*/
#main-nav {
	word-wrap: normal;
}
#main-nav ul {
	background: #EFEFEF !important;
	line-height: 1em !important;
	text-align: center;
}
#main-nav ul li a {
	border-right: #E5E5E5 solid 1px !important;
	padding: 5em 1.0em 1.0em 1.0em !important;
	color: #333 !important;
}
#main-nav li.current-menu-ancestor > a:first-child {
	color: #FF2020 !important;
}
#main-nav ul li a:hover {
	color: #FF2020 !important;
}
#main-nav ul li ul {
	top: 8.5em !important;
	max-width: 165px;
	left: 0;
	background: #E2E2E2 !important;
	border-bottom: #FF2020 solid 4px !important;
	text-align: left;
}
#main-nav ul li ul li a {
	padding: 1em !important;
	background: none !important;
}
#main-nav ul li a {
	-webkit-transition: all ease-in-out 0s;
	-moz-transition: all ease-in-out 0s;
	-ms-transition: all ease-in-out 0s;
	-o-transition: all ease-in-out 0s;
	transition: all ease-in-out 0s;
}

.block-img-left {
	display: block;
	margin-right: 1em;
	margin-bottom: 1em;
	float: left;
	max-width: 100%;
}
.block-img-right {
	display: block;
	margin-left: 1em;
	float: right;
	max-width: 100%;
}
.flexslider .slides img {
	width: 100%;
	max-width: 1000px;
	display: block;
}
}

/*
@media only screen and (min-width: 1280px) {
#menu-nav ul.menu-sub > li {
    width: 15%;
}

.wireless-modules ul.menu-sub > li {
    width: 13% !important;
}

#menu-nav .chipsets ul.menu-sub > li{
	width:25%;
}
#menu-nav .chipsets ul.menu-sub li.cat-thumbnail{
	width:18%;
}
#menu-nav ul.menu-sub li.cat-thumbnail{
	margin:0 1%;
}
}
*/


@media only screen and (max-width: 768px) {
	#footer-nav > li {
		width: 50% !important;
	}
	#footer-nav {
		margin: 0 auto;
		width: 70%;
	}
	.latest_news ul li {
		width:80% !important;
	}
	.top-navigation {
	padding-bottom:1em;
}
#inner-wrapper{
	padding-top:0 !important;
}
	#content {
	margin-top: 0.5em !important;
	}
	.homepage #content {
	margin-top: 0 !important;
	}
}

@media only screen and (max-width: 460px) {
	.features .feature_box {
		float: left;
		margin: 0;
		padding: 0px 0 0 0;
		width: 100%;
		height: auto;
	}
	#top-nav{
		margin-top:0.2em;
	}
	#footer-nav > li {
		width: 100% !important;
	}
	#footer-nav {
		margin: 0 auto;
		width: 90%;
	}
	.latest_news ul li {
		width:60% !important;
	}
	#footer .copyright{
	margin:1em 0;
	float:none;
	text-align:center;
	font-size:0.95em;
}
	#footer .copyright p{
	text-align:center;
}

#footer .connect {
    float: none;
    padding: 0 0 1em 0;
	text-align:center;
	margin:0;
}
.flex-control-nav{
	padding-right:1% !important;
}

}
@media only screen and (max-width: 900px) {
  .features h1 {
    font-size:1.2em;
  }
  .latest-news-wrapper{
	margin-top:0;
}
.news-section .connect{
	margin-top:-5px !important;
}
.news-section .connect a img{
	max-width:18px;
}
.news-section a{
	font-size:1.0em;
}
.latest_news .slides li{
	margin-top:0 !important;
	width:80% !important;
}
.news-section span{
	font-size:1.0em !important;
}
}

@media only screen and (min-width: 990px) {
  .innerleftcol{
	  position:relative !important;
  }
}



@media only screen and (max-width: 1024px) {
	#content {
		margin-bottom: 0;
		padding: 0 1em;
	}
	.col-full {
		margin: 0 auto;
		max-width: none;
	}
    .news-section .connect {
		float:left;
	}
	#inner-wrapper{
		padding-top:5.75em;
	}
}

@media only screen and (min-width: 1024px) {
.col-full {
	margin: 0 auto;
	max-width: 1000px;
}
}


@media only screen and (max-width: 1000px) {
.latest-news-wrapper {
	width: 100%;
	position:relative;
}
.maincontent .innerleftcol{
	float:none;
	width:100%;
	position:relative;
	background:#900;
}
#highlight{
	float:none !important;
	width:100% !important;
}
.maincontent .rightnav{
	float:none;
	width:100%;
	position:relative;
	padding:0 !important;
	margin-top:2em;
}
.maincontent .content{
	float:none;
	width:100%;
	margin:0;
	padding:0;
	position:relative;
	min-height: inherit !important;
}
.maincontent{
	background:none !important;
}


#navigation ul.nav > li {
	padding-left:5%;
}
#navigation ul.nav > li:first-child {
	padding-left:0;
}
.flexslider .slides li{
	background-size:cover; 
}
}

@media screen and (-webkit-min-device-pixel-ratio:0){ 
#navigation ul.nav > li:first-child {

}
#navigation ul.nav > li {
	padding:1.1% 0 1.1% 6% !important;
}
}
