.carousel
    .carousel-inner
        .carousel-item


            .carousel-content
                position: absolute
                bottom: 5%
                left: 2%
                // +transform(translateY(-50%))
                text-align: center
                
                display: inline-block
                h3
                    font-family: 'Sony Sketch'
                    font-size: 60px
                    margin: 0
                    padding: 30px 60px
                    background: #8E0E0E
                    box-shadow: 0 8px 32px rgba(black, .3)
                    +transform(translateX(-50%))
                    +transition(500ms cubic-bezier(.94,.11,.65,.98))
                    opacity: 0
                    

                p
                    color: $footerGrey
                    font-size: 30px
                    margin: 0
                    padding: 20px 40px
                    background: white
                    box-shadow: 0 8px 32px rgba(black, .2)
                    +transform(translateX(50%))
                    +transition(500ms cubic-bezier(.94,.11,.65,.98))
                    opacity: 0

            &.active
                .carousel-content
                    h3, p
                        +transform(translateX(0%))
                        opacity: 1

