section.thumb-wrapper
    margin-bottom: 30px

    article.thumb-container
        // background: grey

        section.thumb-row
            margin-top: 30px
            +clear

            .thumbs
                position: relative
                // padding: 0 15px
                float: left
                min-height: 100%
                overflow: hidden
                height: 334px
                opacity: 1

                &::before
                    content: ''
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    z-index: 1001
                    background: rgba(black, 0)
                    // margin: 0 15px
                    +transition

                &:hover
                    // opacity: .8

                    &::before
                        background: rgba(black, .2)

                header 
                    position: absolute
                    top: 40px
                    left: 40px
                    width: 50%
                    z-index: 1002

                    p,
                    h2
                        margin: 0
                        padding: 0
                        color: white
                
                img.thumb-img
                    position: relative
                    display: block 
                    margin: 0 auto
                    width: auto
                    // height: 334px
                    height: 100%
                    z-index: 1000
                    


        section.thumb-row-1
            +clear

            .thumb-md
                width: 48%
                padding: 0

                &#thumb-1 
                    float: left

                &#thumb-2
                    float: right

                    

                header
                    p
                    h3

        section.thumb-row-2
            +clear
        
            .thumb-sm
                width: 31%
                
                &#thumb-3 
                    float: left

                &#thumb-4
                    margin-left: 40px

                &#thumb-5 
                    float: right


                    
                

            .last-thumb
                background: #FF6600
                width: 100%