// $link: #BC8A8A
$linkDark: #bebebe
$bgGrey: #222222
$bgDarkGrey: #1d1d1c
$red1: #9C0000
$gold: #FAA30B

$paleBlue: #327B83
$purple: #702f8f

// $darkBlue: #11252F
$orange: #FB2800

$lightorange: #E58242
$lightblue: #4899C1
$lightgreen: #4baa00

$picaso: #1A82BF
$picaso-lite: #4EBDFF
$goldelox: #35CA37
$diablo: #C93636

$designer: #459506
$visi: #02678E
$visi-genie: #926B03

$aboutbg: #EFF0F1

$footerWhite: #f7f7f7
$footerGrey: #343D44
$grey: #7C7C83

$blue: #0099FF
$darkBlue:  #032259

$paypal: #003087

$red: #E84B50


$footer1: #232323