// ---------------------
// ---- Sass Mixins ----
// ---------------------

// ---- Transform ------
=transform($val:  translate(-50%, -50%))
    -webkit-transform: $val
    -moz-transform: $val
    -o-transform: $val
    transform: $val

// ---- Transition ------
=transition($val: 250ms ease)
    -webkit-transition: $val
    -moz-transition: $val
    -o-transition: $val
    transition: $val

// ---- Boder Radius ------
=border-radius($val: 5px)
    -webkit-border-radius: $val
    -moz-border-radius: $val
    -o-border-radius: $val
    border-radius: $val



@font-face 
    font-family: pt-sans
    src: url(../fonts/PT_Sans-Web-Regular.ttf)

@font-face 
    font-family: 'Sony Sketch'
    src: url(../Sony_Sketch_EF.ttf)


body, html
    font-family: 'Sony Sketch'
    padding: 0
    margin: 0
    
=clear()
    &::after
        content: ''
        display: table
        clear: both

a
    text-decoration: none
    

ul
    list-style: none
    padding: 0
    margin: 0


.lab-container
    width: 1320px
    max-width: 1320px
    padding-left: 15px
    padding-right: 15px
    margin: 0 auto
    +clear

.lab-row
    margin-left: -15px
    margin-right: -15px
    +clear
