/*content*/

@charset "utf-8";
.SlideCanvas {
    background: url("../images/TC-slides/bg-Slide-TC.jpg") repeat-x scroll center top rgba(0, 0, 0, 0);
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.SlideCanvasM2M {
    background: url("../images/TC-slides/M2M-bg-slides.png") repeat-x scroll center top rgba(0, 0, 0, 0);
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.stage {
    background: url("../images/main-bg.jpg") no-repeat scroll center top #ECECEC;
    margin-top: 15px;
    overflow: visible;
}
.headermain {
    height: 90px;
    margin-bottom: 0;
    position: relative;
}
#content .wrap {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    overflow: hidden;
}
.wrapper {
    height: 100%;
    margin: auto;
    overflow: visible;
    position: relative;
    max-width: 990px;
}
.innerleftcol {
    float: left;
    left: 0;
    position: absolute;
    top: 0;
    width: 190px;
}
.maincontent {
    background: url("../img/bg-body.png") no-repeat scroll left bottom;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.maincontentIndex {
    overflow: hidden;
    padding: 0;
    position: relative;
}
#nav {
    height: 25px;
    margin: 0 auto;
    position: absolute;
    top: -48px;
    width: 990px;
    z-index: 10000;
}
.logo {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 15px;
}
.logo a {
    border: medium none;
    display: block;
}
.topleftnav {
    color: #000000;
    font-size: 11px;
    font-weight: bold;
    left: 215px;
    overflow: visible;
    position: absolute;
    text-align: center;
    top: 10px;
}
.topleftnav a {
    color: #000000;
    font-weight: normal;
    padding: 5px;
    text-decoration: none;
}
.topleftnav a:hover {
    color: #0066CC;
    font-weight: normal;
    text-decoration: underline;
}
.rightnav {
    float: right;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 185px;
}
.rightnav a {
    color: #CC0000;
    text-decoration: none;
}
.rightnav a:hover {
    text-decoration: underline;
}
.TabLink {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 5px;
}
.TabLink a {
    background: url("../images/icon-toggle-right.gif") no-repeat scroll right center #E5E5E5;
    color: #444444;
    display: block;
    font-style: italic;
    font-weight: bold;
    padding: 4px 2px;
    text-decoration: none;
    text-transform: uppercase;
}
.TabLink a:hover {
    background: url("../images/icon-toggle-left.gif") no-repeat scroll right center #E5E5E5;
}
.TabContent {
    padding-bottom: 5px;
}
.TabContent a {
    color: #CC0000;
    display: block;
    font-size: 11px;
    font-weight: normal;
    padding: 2px 2px 2px 20px;
    text-decoration: none;
}
.TabContent a:hover {
    text-decoration: underline;
}
.Subheading {
    border-bottom: 1px solid #E5E5E5;
    color: #666666;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 2px 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.pdf {
    background: url("../images/icon-pdf.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
}
.link {
    background: url("../images/icon-related.gif") no-repeat scroll 2px 2px rgba(0, 0, 0, 0);
}
.document {
    background: url("../images/icon-whitepapers.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
}
.zipfile {
    background: url("../images/icon-zipfile.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}
.content {
    font-size: 12px;
    margin-left: 210px;
    overflow: hidden;
    padding: 20px 0 60px;
    position: relative;
	min-height:500px;
}
.content salesform {
    font-size: 12px;
    margin-left: 210px;
    overflow: hidden;
    padding: 20px 0 60px;
    min-height:500px;
	width:800px
}
.content br{
	display: 
}
.content3pane {
    font-size: 12px;
    padding: 0 10px 20px 0;
    width: 575px;
    min-height: 750px;
}
.content img {
    margin: 5px 10px;
}
.content p {
    font-size: 13px;
    line-height: 15px;
    padding: 5px 0 0;
}
.content h1 {
    color: #666666;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -1px;
    padding: 10px 0 5px;
}
.content h2 {
    color: #333333;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -1px;
    padding: 10px 0 5px;
}
.content h2 a {
    color: #333333;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -1px;
    padding: 10px 0 5px;
    text-decoration: none;
}
.content h2 span {
    color: #CC0000;
    font-size: 13px;
}
.content h3 {
    color: #333333;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -1px;
    padding: 10px 0 5px;
}
.content a {
    color: #336699;
    text-decoration: none;
}
.content a:hover {
    text-decoration: underline;
}
.content ol {
    margin-left: 20px;
    margin-top: 5px;
}
.content ol li {
    /*list-style: lower-alpha outside none;*/
    margin-left: 12px;
}
.content hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E5E5E5 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: medium none;
    border-style: dotted none none;
    border-width: 2px medium medium;
    margin-top: 10px;
    size: 1px;
}
.content hr.no-border {
    border: medium none;
    clear: both;
    margin-top: 10px;
}
.general {
    font-size: 13px;
    list-style: none outside none;
	margin:5px 0 5px 20px;
}
.general li {
    background: url("../images/bullet_general.gif") no-repeat scroll 1px 1px rgba(0, 0, 0, 0);
    padding: 0 0 3px 13px;
}
.general_list_ordered {
    margin-left: 20px;
    margin-top: 5px;
}
.general_list_ordered li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    list-style: decimal outside none;
    margin-bottom: 5px;
}


	
.table {
    float: left;
    letter-spacing: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.table li {
    border-bottom: 1px solid #E5E5E5;
    clear: left;
    list-style: none outside none;
    overflow: hidden;
    padding: 5px 0;
}
.table li span {
    display: block;
    float: left;
    /*font-family: arial;*/
	font-family: "geogrotesque_medium",Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding: 0 0 0 10px;
    text-align: left;
    width: 330px;
}
.table li label {
    display: block;
    float: left;
    font-size: 12px;
    margin: 0 5px 0 0;
    padding: 0;
    text-align: right;
    width: 200px;
}
.table li p {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.table input {
    border: 1px solid #E1E1E1;
    color: #000000;
    /*font-family: arial;*/
	font-family: "geogrotesque_medium",Arial,Helvetica,sans-serif;
    font-size: 14px;
    padding: 4px;
    width: 400px;
}
.table li b {
    display: block;
    float: left;
    font-size: 11px;
    font-weight: normal;
}
.ftable {
    background-color: #FFFFFF;
    float: left;
    letter-spacing: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.ftable li {
    border-bottom: 1px solid #FFFFFF;
    clear: left;
    list-style: none outside none;
    overflow: hidden;
    padding: 5px 0;
}
.ftable li span {
    display: block;
    float: left;
    /*font-family: arial;*/
	font-family: "geogrotesque_medium",Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding: 0 0 0 10px;
    text-align: left;
    width: 330px;
}
.ftable li label {
    display: block;
    float: left;
    font-size: 12px;
    margin: 0 5px 0 0;
    padding: 0;
    text-align: right;
    width: 200px;
}
.ftable li p {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.ftable input {
    background-color: #FFFFFF;
    border: 1px solid #E1E1E1;
    color: #000000;
    /*font-family: arial;*/
	font-family: "geogrotesque_medium",Arial,Helvetica,sans-serif;
    font-size: 14px;
    padding: 4px;
    width: 250px;
}

.ftable li b {
    display: block;
    float: left;
    font-size: 11px;
}
/*.breadcrumb {
    color: #000000;
    font-size: 11px;
    font-weight: bold;
    padding: 8px 10px;
    top: 0;
}
.breadcrumb a {
    color: #333333;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
}
.breadcrumb a:hover {
    color: #000000;
    text-decoration: underline;
}*/
.breadcrumb {
	padding: 8 px 15 px;margin - bottom: 18 px;list - style: none;background - color: #f6f6f6;border - radius: 0
}
.breadcrumb > li {
	display: inline - block
}
.breadcrumb > li + li: before {
	content: "/\00a0";padding: 0 5 px;color: #333
}
.breadcrumb>.active{
	color:# 333
}
div#footer_wrap {
    margin: 0 auto;
    position: relative;
    top: -6px;
}
div#footer {
    background: url("../images/footer_bg2.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    color: #CCCCCC;
    font-size: 12px;
    height: 199px;
    margin: 0 auto;
    padding: 10px 20px 0;
    width: 950px;
}
div#footer ul {
    float: left;
    margin-right: 10px;
    padding: 0;
}
div#footer ul li {
    list-style: none outside none;
    margin: 0;
}
div#footer a {
    color: #E5E5E5;
}
div#footer a:hover {
    color: #FFFFFF;
}
div#footer p {
    margin-top: 20px;
}
.shadow {
    background: url("../images/shadow.png") repeat-x scroll left top rgba(0, 0, 0, 0);
    height: 6px;
    position: relative;
    z-index: 999;
}
.socialicon {
    margin: 25px 0 0 6px;
}
img.left {
    margin: 0 10px 10px 0;
}
.clear {
    clear: both;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-table;
}
* html .clearfix {
    height: 1%;
}
* + html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
caption {
    color: #333333;
    /*font-family: Arial,Helvetica,sans-serif;*/
	font-family: "geogrotesque_medium",Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    padding: 5px;
    text-align: left;
}


.TabbedPanels table{
    border-right: 0;
    border-top: 0;
}

.TabbedPanels table td{
    border-bottom: 1px solid #CCC;
    border-left:1px solid #DDDDDD;
    color: #666;
}

table {
    border-collapse: collapse;
    border-right: 1px solid #777777;
    border-top: 1px solid #777777;
    margin: 1px;
    width: 98%;
}
td.a {
    color: #333333;
    text-decoration: none;
}
td.a:hover {
    border-bottom: 1px solid #F03B58;
    color: #CC0000;
}
tr.odd td {
    background: none repeat scroll 0 0 #E5E5E5;
    color: #333333;
    text-align: left;
}
td {
    border-bottom: 1px solid #777777;
    border-left: 1px solid #777777;
    color: #333333;
    /*font-family: Arial,Helvetica,sans-serif;*/
	font-family: "geogrotesque_medium",Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    padding: 5px 2px;
    
}
th {
    border-bottom: 1px solid #777777;
    border-left: 1px solid #777777;
    font-weight: normal;
    padding: 5px 3px;
}
thead th {
    background: none repeat scroll 0 0 #696969;
    color: #FFFFFF;
    /*font-family: Arial,Helvetica,sans-serif;*/
	font-family: "geogrotesque_medium",Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align: left;
}
table.in {
    margin: -6px -4px -6px -3px;
    width: 102%;
}
table.in tr.odd td {
    color: #333333;
    text-align: center;
}
table.in td {
    background: none repeat scroll 0 0 #696969;
    color: #FFFFFF;
    /*font-family: Arial,Helvetica,sans-serif;*/
	font-family: "geogrotesque_medium",Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    padding: 5px 2px;
    text-align: center;
}
.panel {
    border-right: 1px solid #CCCCCC;
    display: inline;
    float: left;
    font-size: 12px;
    padding: 10px 0;
    width: 460px;
}
.grid_12 h1 {
    font-family: "Myriad Pro",Arial,Helvetica,sans-serif;
    font-size: 28px;
    font-weight: normal;
}
.grid_12 {
    display: inline;
    float: left;
    padding: 10px 0;
}
.grid_13 {
    display: inline;
    float: left;
    padding-top: 10px;
}
.grid_13 p {
    color: #000000;
    font: 12px Arial,Helvetica,sans-serif;
    width: 400px;
}
.grid_14 {
    display: block;
    float: left;
    margin-right: 10px;
    padding-top: 20px;
    position: relative;
    text-transform: uppercase;
    width: 400px;
}
.grid_14 a {
    position: absolute;
    top: 30px;
}
.grid_14 span {
    float: right;
    position: relative;
    top: 30px;
}
.panel1 {
    display: inline;
    float: left;
    margin-left: 50px;
    padding: 10px 0;
    width: 460px;
}
.grid_15 {
    background: url("../images/index/bg-heading-home.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    display: inline;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}
.grid_15 h1 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 26px;
    font-weight: bold;
}
.grid_16 {
    display: inline;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
}
.grid_16 p {
    color: #000000;
    font: 12px Arial,Helvetica,sans-serif;
    text-align: right;
    width: 330px;
}
.grid_17 {
    display: block;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    position: relative;
    text-transform: uppercase;
    width: 400px;
}
.grid_17 a {
    position: absolute;
    right: 0;
    top: 30px;
}
.grid_17 span {
    float: left;
    position: relative;
}
.table1 {
    float: left;
    letter-spacing: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.table1 li {
    border-bottom: 1px solid #E5E5E5;
    clear: left;
    list-style: none outside none;
    overflow: hidden;
    padding: 5px 0;
}
.table1 li span {
    display: block;
    float: left;
    font-family: arial;
    font-size: 12px;
    font-weight: normal;
    padding: 0 0 0 10px;
    text-align: left;
    width: 500px;
}
.table1 li label {
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 0 5px 0 0;
    padding: 0;
    text-align: right;
    width: 200px;
}
.table1 li p {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.table1 input {
    border: 1px solid #E1E1E1;
    color: #000000;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
    width: 400px;
}
.table1 li b {
    display: block;
    float: left;
    font-size: 11px;
    font-weight: normal;
}
.table4 li {
    border-bottom: 1px solid #E5E5E5;
    clear: right;
    list-style: none outside none;
    overflow: hidden;
    padding: 5px 0;
}
.table4 li span {
    display: block;
    float: left;
    font-family: arial;
 font-weight: normal;
    padding: 0 0 0 10px;
    text-align: left;
    width: 500px;

}
.table4 li label {
    display: block;
    float: right;
    font-size: 12px;
    font-weight: bold;
    margin: 0 5px 0 0;
    padding: 0;
    text-align: right;
    width: 220px;
}
.table4 li p {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.table4 input {
    border: 1px solid #E1E1E1;
    color: #000000;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
    width: 400px;
}
.table4 li b {
    display: block;
    float: right;
    font-size: 11px;
    font-weight: normal;
}
.table2 {
    float: left;
    letter-spacing: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.table2 li {
    border-bottom: 1px solid #E5E5E5;
    clear: left;
    list-style: none outside none;
    overflow: hidden;
    padding: 15px 0 15px 0;
}
.table2 li span {
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
    padding: 0 0 0 10px;
    text-align: left;
    width: 350px;
}
.table2 li label {
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
    margin: 0 5px 0 0;
    padding: 0;
    text-align: left;
    width: 400px;
}
.table2 li p {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.table2 input {
    border: 1px solid #E1E1E1;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
    width: 400px;
}
.table2 li b {
    display: block;
    float: left;
    font-size: 11px;
    font-weight: normal;
}
.table3 {
    float: left;
    letter-spacing: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.table3 li {
    border-bottom: 1px solid #E5E5E5;
    clear: left;
    list-style: none outside none;
    overflow: hidden;
    padding: 5px 0;
}
.table3 li span {
    display: block;
    float: left;
    font-family: arial;
    font-size: 12px;
    font-weight: normal;
    padding: 0 0 0 10px;
    text-align: left;
    width: 200px;
}
.table3 li label {
    display: block;
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin: 0 5px 0 0;
    padding: 0;
    text-align: left;
    width: 550px;
}
.table3 li p {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.table3 input {
    border: 1px solid #E1E1E1;
    color: #000000;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
    width: 550px;
}
.table3 li b {
    display: block;
    float: left;
    font-size: 11px;
    font-weight: normal;
}
.topnav {
    color: #A51A20;
    font-size: 11px;
    font-weight: bold;
    height: 19px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 10px;
}
.topnav a.home {
    background: url("../images/header/sprite-header.png") no-repeat scroll left bottom rgba(0, 0, 0, 0);
    float: left;
    height: 27px;
    margin-left: 5px;
    width: 57px;
}
.topnav a.home:hover {
    background-position: left top;
}
.topnav a.login {
    background: url("../images/header/sprite-header.png") no-repeat scroll -63px -33px rgba(0, 0, 0, 0);
    float: left;
    height: 27px;
    margin-left: 5px;
    width: 67px;
}
.topnav a.login:hover {
    background-position: -63px 0;
}
.topnav a.buy {
    background: url("../images/header/sprite-header.png") no-repeat scroll right bottom rgba(0, 0, 0, 0);
    float: left;
    height: 27px;
    margin-left: 5px;
    width: 57px;
}
.topnav a.buy:hover {
    background-position: right top;
}
.faq {
    color: #336699;
    font-size: 12px;
    font-weight: bold;
    margin: 12px 0 0;
}
.faq1 {
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
}
.faqs2 {
    color: #000000;
    font-size: 13px;
    font-weight: bold;
}
.google-search {
    bottom: 0px;
    right: 0px;
    position: relative;
}
.generalright {
    font-size: 11px;
    list-style: none outside none;
    margin-left: 5px;
    margin-top: 5px;
}
.generalright li {
    background: url("../images/bullet_general.gif") no-repeat scroll 1px 1px rgba(0, 0, 0, 0);
    padding: 0 0 3px 11px;
}
.generalright_list_ordered {
    margin-left: 10px;
    margin-top: 5px;
}
.generalright_list_ordered li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    list-style: decimal outside none;
    margin-bottom: 5px;
}

/*Sidebar Hightlight*/

#highlight span {
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
}
#highlight {
    float: left;
    font-size: 12px;
    margin: 0;
    padding: 0.5em;
}
#highlight ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	color:#ffffff;
}

#highlight ul li a {
    color: #FFF;
    display: block;
    text-decoration: none;
}


#highlight h3 {
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
#highlight h4 {
    color: #FFFFFF;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    text-transform: capitalize;
	margin-bottom:0;
}
/*
#highlight ul li > ul li a{
	padding-left:1.5em;
}
#highlight ul li a {
    padding: 6px 10px;
}
#highlight ul li ul li ul > li a{
	padding-left:2em;
}
*/

#highlight ul li a {
    color: #FFF;
    display: block;
    text-decoration: none;
}

#highlight ul li > a {
	font-weight:bold;
	line-height:1.2em;
	margin:0.2em 0;
}

#highlight ul li ul li > a {
	font-weight: normal;

}

#highlight ul li a#sub_menu {
    border: medium none;
    font-size: 90%;
    padding: 4px 10px 4px 20px;
}
#highlight ul li a#subheading {
    border: medium none;
    color: #CCCCCC;
    font-weight: bold;
    padding: 8px 10px;
}
#highlight ul li a:hover {
    background: none repeat scroll 0 0 #EFEFEF;
    color: #000;
}
#highlight .current > a{
    color: #000;
	font-weight:bold;
	background:#FFF;
}



/*Tab*/
.TabbedPanels {
    clear: none;
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    width: 100%;
}
.TabbedPanelsTabGroup {
    margin: 0;
    padding: 0;
}
.TabbedPanelsTab {
    -moz-user-select: none;
    background: url("../images/tab-bg-up.png") no-repeat scroll right top #DDDDDD;
    border-bottom: 1px solid #666666;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0 1px 1px 0;
    padding-right: 10px;
    position: relative;
    top: 2px;
	min-height:25px;
}
.TabbedPanelsTab span {
    background: url("../images/tab-bg-up.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    padding: 2px 0 0 10px;
}
.TabbedPanelsTabHover {
    background-color: #FFFFFF;
}
.TabbedPanelsTabSelected {
    background: url("../images/tab-bg-selected.png") no-repeat scroll right top rgba(0, 0, 0, 0);
    border-bottom: medium none #FFFFFF;
    color: #CC0000;
    position: relative;
    top: 2px;
	min-height:26px;
}
.TabbedPanelsTabSelected span {
    background: url("../images/tab-bg-selected.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    color: #333333;
	padding: 2px 0 4px 10px;
}
.TabbedPanelsTab a {
    color: #000000;
    text-decoration: none;
}
.TabbedPanelsContentGroup {
    background-color: #FFFFFF;
    border-top: 1px solid #666666;
    clear: both;
    overflow: hidden;
    padding: 5px;
}
.TabbedPanelsContent {
    padding: 4px;
}
.TabbedPanelsContent p{
	margin:0;
}
.TabbedPanelsContentVisible {
}
.VTabbedPanels .TabbedPanelsTabGroup {
    background-color: #EEEEEE;
    border-color: #999999 #999999 #CCCCCC #CCCCCC;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 20em;
    position: relative;
    width: 10em;
}
.VTabbedPanels .TabbedPanelsTab {
    border-left: medium none;
    border-right: medium none;
    border-top: medium none;
    float: none;
    margin: 0;
}
.VTabbedPanels .TabbedPanelsTabSelected {
    background-color: #EEEEEE;
    border-bottom: 1px solid #999999;
}
.VTabbedPanels .TabbedPanelsContentGroup {
    clear: none;
    float: left;
    height: 20em;
    padding: 0;
    width: 30em;
}


table.cruises { 
  font-size: 2.4em;
	line-height: 1.618;
	color: #646464;
	font-family: Arial,Helvetica,sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	word-wrap: break-word;
	width: 100%;
    cellspacing: 10px; 
    border-collapse: collapse; 
    width: 435px;
    margin: 20px;
    border: 1px solid #999;
    }
	
	
  table.cruises th, table.cruises td { 
    border-right: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
    }
  table.cruises th { background: #696969; padding:5px; font-size:14px; color:#FFFFFF}
  table.cruises tr td.point { background: #FFFAFA; padding-left:15px; padding-top:5px }
  table.cruises td { background: #FFFAFA; padding:5px }