section.checkout-wrapper
    padding: 50px 0px
    +clear
    article.checkout-account
        width: 50%
        float: left

        header.checkout-account-header
            h3 
            p 
                color: grey

        form.checkout-have-account
            width: 75%

            .checkout-input-wrapper
                
                input.checkout-input
                    width: 100%
                    display: block

            .action-wrapper
                a#forgot-pass
                button#checkout-signin-btn

        a#checkout-signup-btn