section.checkout-wrapper
    padding: 50px 0px
    font-family: $lato
    +clear
    article.checkout-account
        width: 49%
        margin: 50px 0px 70px
        background: whitesmoke
        padding: 40px
        float: right
        min-height: 325px
        +clear


        &#login-wrapper
            float: left

        header.checkout-account-header
            h3 
            p 
                color: grey

        form.checkout-have-account
            display: block


            .checkout-input-wrapper

                .login-wrapper
                    +clear
                    span
                        width: 7%
                        float: left
                        min-height: 43px
                        background: #eeeeee
                        border: 1px solid #cccccc
                        border-right: none
                        position: relative
                        
                        i 
                            position: absolute
                            top: 50%
                            left: 50%
                            +transform
                
                input.checkout-input
                    width: 93%
                    margin-bottom: 10px
                    padding: 10px 20px
                    border-style: none
                    border: 1px solid #cccccc
                    +boxShadow(none)
                    float: right
                    +transition

                    &:focus
                        border-color: $paleBlue

                    &[type=email]:invalid
                        border-color: $diablo

                    &[type=email]:invalid:focus
                        border-color: $paleBlue

                    &[type=email]:valid
                        // border-color: $designer

                    &[type=email]:valid:focus
                        border-color: $paleBlue


            .action-wrapper
                position: relative
                +clear
                // padding: 10px 0px
                
                a#forgot-pass
                    float: left
                    color: grey
                    text-decoration: none
                    +transition

                    &:hover
                        color: $orange
                
                button#checkout-signin-btn
                    float: right
                    border-style: none
                    background: $diablo
                    padding: 10px 20px
                    border: 1px solid $diablo
                    color: white
                    cursor: pointer
                    +transition
                    
                    &:hover
                        background: whitesmoke
                        color: $diablo
                        border-color: $diablo

                    i
                        display: inline-block
                        margin-right: 10px

                    

        a#checkout-signup-btn
            text-decoration: none
            color: $picaso
            background: whitesmoke
            padding: 10px 20px
            cursor: pointer
            border: 1px solid $picaso
            +transition
            

            &:hover
                background: $picaso
                color: white
                border-color: $picaso

            i
                display: inline-block
                margin-right: 10px

.spacer
    min-height: 116px
    width: 100%