.small
    min-width: 95px
    max-width: 95px
    font-size: 14px

.medium
    min-width: 140px
    max-width: 140px

.large
    min-width: 200px
    max-width: 200px

#orientation-msg
    padding: 20px
    // text-align: center
    border: 1px solid $orange
    color: black
    margin: 15px
    +clear 

    strong
        color: $orange

    i 
        float: left
        width: 10%
        font-size: 50px
        color: $orange

    span 
        float: right 
        width: 90%


section.parametric-wrapper
    font-family: 'Open Sans', Arial, Helvetica, sans-serif
    padding: 0px 0px 50px

    .para-category-wrapper
        padding: 30px
        padding-bottom: 0px
        display: inline-block
        transform: translateY(20%)
        +border-radius

        h1
            color: $paleBlue
            margin: 0

        p 
            font-size: 20px

        .para-description
            padding: 10px
            border: 1px solid lighten($paleBlue, 20%)
            background: lighten($paleBlue, 60%)
            margin: 20px 0px
            +clear

            #para-icon-wrapper
                float: left
                width: 5%
                height: 44px
                position: relative
                
                span 
                    width: 30px
                    height: 30px
                    +border-radius(100%)
                    border: 3px solid $paleBlue
                    display: block 
                    margin: 0 auto
                    position: absolute
                    top: 50%
                    left: 50%
                    +transform

                    i 
                        position: absolute
                        top: 50%
                        left: 50%
                        +transform
                        font-size: 18px
                        color: $paleBlue
                
            p 
                float: right 
                width: 94%
                margin: 0


        label 
            margin-right: 10px


        select#para-category
            padding: 5px 10px
            border-style: none
            border: 1px solid #cccccc
            +border-radius(2px)
            display: inline-block
            color: $paleBlue

        h3#para-category-label 
            text-transform: uppercase
            font-weight: 600
            margin: 20px 0px 0px 0px
            color: black
            font-size: 24px

    .menu-bar
        text-align: right
        padding: 10px
        padding-top: 0px
        padding-right: 30px

        button 
            background: none
            border-style: none
            vertical-align: middle
            cursor: pointer
            padding: 3px 5px
            +transition

            &:hover
                color: $paleBlue
            
            
            &:link, &:focus
                outline: none

        .page-size-wrapper
            display: inline-block
            width: 100px
            vertical-align: middle
            +clear 
            
            button 
                float: left
                width: 33.333333333%
                border: 1px solid #cccccc

                &.active-size
                    background: $paleBlue
                    color: white
                    border-color: $paleBlue

                &#twenty 
                    +border-radius(2px 0px 0px 2px)


                &#fifty 
                    border-left: none
                    border-right: none

                &#all
                    +border-radius(0px 2px 2px 0px)

        label 
            margin-left: 10px


    .parametric-table-wrapper
        position: relative
        +clear 

        .para-tb-2-wrapper
            overflow-x: auto
            display: inline-block
            width: 85%
            float: left
            position: relative
            cursor: grab
            +transition(300ms ease) 

            // scroll buttons
            button.scroll-btn
                border-style: none
                padding: 10px 20px
                background: white 
                border: 1px #eeeeee
                +border-radius(2px)
                +boxShadow(0 8px 25px rgba(black, .2))
                cursor: pointer
                position: fixed
                bottom: 5%
                +transform(translateY(-50%))
                z-index: 1004
                opacity: .7
                +transition

                &:hover
                    opacity: 1
                    +boxShadow(0 8px 25px rgba(black, .4))

                &:link, &:focus
                    outline: none

                &#scroll-left 
                    left: 47%

                &#scroll-right
                    right: 47%
        

        table.parametric-table
            +clear

            &#para-tb-2 
                position: relative
                z-index: 1000
                float: left
                width: 100%
            
            &#para-tb-1
                width: 15%
                float: left 
                +boxShadow(12px 0px 20px -16px rgba(black, .2))
                position: relative
                z-index: 1001
                background: white

                thead 
                    width: 100%
                    tr 
                        width: 100%
                        
                        th 
                            +clear
                            
                            .th-wrapper
                                font-size: 14px !important
                                +clear
                                span
                                    font-size: 14px !important

                            &#compare 
                                width: 20%

                                button#compare-btn
                                    border-style: none
                                    border: 1px solid $paleBlue
                                    background: $paleBlue
                                    color: white
                                    +border-radius 
                                    padding: 5px
                                    cursor: pointer

                                    &:hover
                                        background: lighten($paleBlue, 10%)

                                    &:disabled
                                        background: lighten($paleBlue, 20%)
                                        cursor: not-allowed !important
                                        border: 1px solid lighten($paleBlue, 20%)
                                        color: lighten($paleBlue, 50%)

                            &#part-name 
                                width: 80%

                                +clear 

                                span#sorter 
                                    float: right
                                    color: $orange

                                input
                                    height: 32px
                                    border-style: none
                                    border: 1px solid #cccccc
                                    padding: 0 5px
                                    width: 90%
                                    float: left
                                    border-right: none
                                    +border-radius(2px 0px 0px 2px)
                                    +transition
                                    font-size: 11px


                                    &:focus
                                        border-color: $paleBlue

                                        & ~ i 
                                            border-color: $paleBlue
                                            color: $paleBlue

                                i 
                                    width: 10%
                                    height: 32px
                                    padding: 10px 10px 0px 0px
                                    float: left
                                    border: 1px solid #cccccc
                                    border-left: none
                                    +border-radius(0px 2px 2px 0px)
                                    color: #cccccc
                                    background: white
                                    +transition
                                    font-size: 11px
                                

            thead 
                tr 
                    th 
                        background: #F4F4F4
                        border-right: 1px solid white
                        vertical-align: bottom
                        cursor: pointer
                        font-weight: 600
                        height: 88px
                        +clear

                        .th-wrapper
                            padding: 8px 10px
                            border-bottom: 4px solid #cacaca
                            overflow-y: auto 
                            +clear

                            &.changed
                                border-bottom-color: $paleBlue

                            ul 
                                li 
                                    vertical-align: middle

                                    label 
                                        vertical-align: middle
                                        margin: 0
                                        text-transform: uppercase
                                        cursor: pointer
                                        
                                    input 
                                        vertical-align: middle

                                    
                            span#sorter 
                                float: right
                                color: $orange


                            

                        &:hover
                            background: #eaeaea


                    &#para-input-wrapper
                        
                        th 
                            cursor: auto
                            vertical-align: top
                            font-size: 11px !important

                            
                            &#Price

                                label 
                                    display: block
                                input 
                                    height: 32px
                                    border-style: none
                                    border: 1px solid #cccccc
                                    padding: 0 5px
                                    width: 100%
                                    +border-radius(2px)
                                    +transition

                                    &:focus
                                        border-color: $paleBlue


                            

                            .filter-reset
                                height: 25px
                                border-bottom: 4px solid #cacaca
                                font-size: 11px
                                padding: 5px

                                a 
                                    display: none


                            .th-wrapper
                                border-bottom: none
                                height: 109px
                                
                            &:hover
                                background: #F4F4F4
                                
            tbody 
                tr 
                    border-bottom: 1px solid #cacaca
                    background: white
                    
                    td 
                        padding: 10px
                        font-size: 12px
                        text-align: left
                        vertical-align: top

                        &#Availability
                            color: $paleBlue

                        &#Availability
                            label
                                margin-right: 10px
                            
                            +clear                             
                            span.stock-val
                                font-weight: 600
                                float: right

                            p 
                                color: lighten(grey, 10%)

                        &#Info 
                            img.rohs-icon
                                width: 15px
                                margin-right: 10px

                        &#para-prod-cbox
                            text-align: center

                        #prod-quantity
                            width: 75%
                            float: left

                            button
                                width: 20%
                                // font-weight: 600

                            input
                                width: 60%

                        button#para-add-to-cart-btn
                            width: 22%
                            float: right
                            height: 32px
                            border-style: none
                            background: $paleBlue
                            color: white
                            +border-radius(2px)
                            cursor: pointer
                            +transition

                            &:hover
                                background: darken($paleBlue, 10%)

.para-tbody-row
    &:hover
        // background: #eeeeee !important

td#Price 
    #para-1 
        margin-bottom: 10px

        #para-val, #para-key
            font-weight: 600
            color: $paleBlue

    .para-id:last-child
        margin-top: 10px
        
#para-val
    float: right


// Part Name Link
a.para-prod-name-link
    color: $paleBlue !important
    text-transform: uppercase      
    font-size: 16px 
    display: block
    margin-bottom: 10px
    font-weight: 600

img#para-prod-thumb
    width: 50px
    // margin: 0 auto
    // display: block
    // margin-right: 10px

// Part Name Datasheet
.datasheet-download
    display: inline-block
    +border-radius(2px)
    +transition
    margin: 15px auto 0px
    display: block
    opacity: .8
    // text-align: center

    &:hover
        opacity: 1

    span 
        color: $paleBlue

    #part-name-ds
        width: 100px
        



div#prod-quantity
    display: flex !important



#Quantity
    +clear

    button.quantity-btn
        width: 15%
        border-style: none
        padding: 5px
        height: 32px
        border: 1px solid #cccccc
        cursor: pointer
        color: $paleBlue
        +transition

        &:hover
            border-color: $paleBlue
            color: $paleBlue

        &:link, &:focus
            outline: none

        &#minus 
            float: left 
            border-radius: 2px 0px 0px 2px
            order: 1
        &#plus 
            float: right 
            border-radius: 0px 2px 2px 0px
            order: 3


    input
        width: 70%
        border-style: none
        border: 1px solid #cccccc
        float: left
        height: 32px
        border-right: none
        border-left: none
        padding: 0 5px
        order: 2
        text-align: center
        +transition

        &:focus
            border-color: $paleBlue
            color: $paleBlue

            & ~ button 
                border-color: $paleBlue

    p 
        margin-top: 10px
        float: left
        width: 100%
        color: lighten(grey, 20%)

                
