section.payments-wrapper,
section.shipping-method-wrapper
    font-family: $lato
    +clear 

    section.cart-wrapper
        +clear
        padding: 0 85px 0px 65px

        form#payment-method-form
            +clear
            

        article.user-details
            width: 70%
            float: left 
            
            +clear

            header 
                h3 
                    font-size: 20px
                    color: white
                    padding: 5px 10px
                    background: $paleBlue

            hr 
                border-color: #eeeeee
                margin: 10px 0px


section.user-details-container
    margin-right: 20px
    +clear

    // user Details
    .payment-user-details-wrapper
        width: 48%
        float: left
        margin-right: 20px

        header.payment-user-details-header
            h3 

        .payment-user-info

            ul
                padding-left: 10px
                +clear 

                li

                    &#phone-num
                        width: 45%
                        float: right 

                    &#country
                        width: 53%
                        float: left

                        select 
                            padding: 0px
                            border-style: none
                            background: none
                            width: 100%
                            -webkit-appearance: none
                            -moz-appearance: none
                            text-indent: 1px
                            text-overflow: ''

                            &:disabled
                                color: black

                
                    label 
                        color: $paleBlue
                    p 
                        margin-bottom: 5px
                        padding: 10px 
                        border: 1px solid #eeeeee
                        +border-radius(2px)

                    &#billing-country-payment-detail
                        select
                            border-style: none
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            text-overflow: '';
                            padding: 0px
                            font-size: 16px
                            margin-left: -5px

                            &:disabled
                                background: transparent 
                                color: black
                                font-weight: 600


    // Shipping Methods
    .shipping-method-wrapper
        width: 48%
        float: left

        ul.payment-user-details-list

            li.shipping-method-item
                padding: 20px
                padding-top: 0px

                p 
                    margin-bottom: 5px
                    padding: 10px 
                    border: 1px solid #eeeeee
                    +border-radius(2px)


                h5 
                    color: $paleBlue

                label 
                    
                    
.payment-method-wrapper
    width: 94%
    float: left

    header.payment-method-header
        h3 
            label 
                margin: 0

    select.select-payment-method
        background: none
        border-style: none
        border: 1px solid #cccccc
        +boxShadow(none)
        outline: none
        color: black
        padding: 10px
        position: relative
        z-index: 1001
        +transition


    .payment-selection-wrapper
        position: relative
        padding: 20px 0px
        +clear 
        
        input#payment-selector
            position: absolute
            top: 0
            left: 0

        .payment-selector-wrapper
            +clear 
            width: 40%
            margin: 0 auto

            button.ps-selector
                border-style: none
                padding: 10px 20px
                width: 50%
                float: left
                background: white
                border: 1px solid $paleBlue
                cursor: pointer
                color: $paleBlue
                +transition

                &:hover
                    background: lighten($paleBlue, 60%)

                &:disabled
                    cursor: initial

                &:focus, &:link
                    outline: none

                &:nth-child(2)
                    border-left: none


                &.ps-selected
                    background: $paleBlue
                    color: white

            // Credit Card
            &#ps-cc

            // PayPal
            &#ps-pp







// Credit Card
section.credit-card-payment-wrapper,
section.paypal-payment-wrapper
    width: 100%
    margin: 0 auto
    padding: 10px
    +clear 

    header.credit-header
        h4
            margin: 20px 0px
            margin-top: 0
            font-weight: 700
            text-align: center
            color: $paleBlue


            span, img
                display: inline-block
                vertical-align: middle

            img 
                width: 100px
            
        p 

    figure.credit-card-logo-wrapper
        
        ul 
            text-align: center
            li 
                display: inline-block
                margin: 0 10px
                border: 1px solid white
                +transition
                padding: 10px
                +border-radius 

                &.cc-border
                    // border: 1px solid #CB2026

                img 
                    height: 50px
                    +transition

                    &#cc-mastercard,
                    &#cc-visa


    .cc-input-wrapper
        width: 100%
        float: left

        label 
            color: $paleBlue
            margin-top: 10px
        
        +clear

        &.cc-first
            margin-right: 20px

        &.cc-sec
            width: 58%
            +clear

            input, select 
                width: 49%

                &#month 
                    float: left
                &#year 
                    float: right

                &#cvv-code
                    float: left
                    width: 100%
        
        .name-row,
        .cc-type-row
            +clear 
            width: 100%

        select, input
            position: relative
            padding: 10px
            float: left
            width: 100%
            border-style: none
            border: 1px solid #e5e5e5
            margin-bottom: 10px
            +transition

            option 
                &:selected
                    color: red

            &:invalid
                +boxShadow(none)

            &:focus
                border-color: $paleBlue


    .cc-geotrust-wrapper
        width: 40%
        float: right
        text-align: right
        a 

            img 
                width: 100%


    ul.cc-list
        width: 100%
        +clear 
        margin: 30px 0px

        li
            width: 33.333333333%
            float: left
            height: 50px
            text-align: center

            img 
                height: 100%
                width: auto


    a#pay-via-pp
        font-size: 18px
        font-weight: 600
        padding: 10px
        display: block
        background: $paypal
        color: white
        text-decoration: none
        text-align: center
        margin-top: 20px
        +transition
        text-transform: uppercase

        &:hover
            background: whitesmoke
            color: $paypal