section.payments-wrapper,
section.shipping-method-wrapper
    font-family: 'Avenir'
    +clear 

    section.cart-wrapper
        +clear

        form#payment-method-form
            +clear
            padding: 0 85px 0px 45px

        article.user-details
            width: 70%
            float: left
            +clear

            header 
                h3 
                    font-size: 20px
                    color: white
                    padding: 5px 10px
                    background: $paleBlue



            hr 
                border-color: #cccccc
                margin: 30px 20px 30px 0px

            .payment-method-wrapper
                width: 100%
                float: none

                header.payment-method-header
                    h3 
                        label 

                select.select-payment-method
                    background: none
                    border-style: none
                    border: 1px solid #cccccc
                    box-shadow: none
                    outline: none
                    color: black
                    padding: 10px
                    position: relative
                    z-index: 1001
                    +transition

section.user-details-container
    padding: 20px
    margin-right: 20px
    background: whitesmoke
    +clear

    
    .payment-user-details-wrapper
        width: 50%
        float: left

        header.payment-user-details-header
            h3 

        .payment-user-info
            ul.payment-user-details-list

                li 
                    p 
                        font-weight: 600
                        font-size: 16px

                        &#billing-country-payment-detail
                            select
                                border-style: none
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                text-overflow: '';
                                padding: 0px
                                font-size: 16px
                                margin-left: -5px

                                &:disabled
                                    background: transparent 
                                    color: black
                                    font-weight: 600

    .shipping-method-wrapper
        width: 50%
        float: left

        ul 

            li.shipping-method-item
                margin-bottom: 10px
                h5 
                    color: $paleBlue

                label 
                    
                    
