article.product-details-wrapper
    margin-top: 20px
    font-family: 'Avenir'

    header.product-header
        padding: 20px 40px
        background: $paleBlue
        box-shadow: 0 15px 20px -10px rgba(black, .3)
        position: relative
        z-index: 1002
        +clear

        figure.product-icon
            margin: 0
            vertical-align: middle
            display: inline-block
            margin-right: 20px
            img

        .header-content
            vertical-align: middle
            display: inline-block
            h1
                color: white
                margin: 0
                padding: 0
                // font-family: 'Sony Sketch'
                font-size: 42px
                // text-transform: uppercase
            label
                color: white
                font-size: 20px

    figure.product-img-wrapper
        position: relative
        z-index: 1001

        .product-img
            img

    article.highlights-wrapper
        margin: 60px 0px
        h3
            color: $paleBlue
            padding: 20px 0px 0px
            font-size: 44px
            border-bottom: 1px solid $paleBlue

        ul.highlights-list
            margin-top: 30px
            li.highlights
                margin-bottom: 10px
                i
                    font-size: 8px
                    margin-right: 10px
                    vertical-align: middle
                p
                    display: inline-block
                    vertical-align: middle
                    margin: 0
                    padding: 0
                    font-size: 20px
                    margin-bottom: 20px

                    strong
                        color: $paleBlue

    article.parametric-data-wrapper
        padding: 60px 0px
        border-top: 1px solid #eeeeee 
        border-bottom: 1px solid #eeeeee 
        header.parametric-header
            h1
                color: $paleBlue
                font-size: 44px

        .parametric-data
            ul.data-list
                li
                    padding-bottom: 15px
                    font-size: 20px
                    +clear
                    strong
                        float: left
                        width: 35% 
                        color: $footerGrey
                    span


    figure.product-diagram-wrapper
        margin-top: 20px
        
        .product-diagram
            img
                position: relative
                top: 0
                left: 50%
                +transform(translateX(-50%))



    section.product-tabs
        margin: 60px 0px
        background: white
        box-shadow: 0 8px 22px rgba(black, .050)

        article.tabs-wrapper
            
            ul.tabs
                +clear
                overflow: hidden
                background: $footerGrey
                border-bottom: 5px solid $paleBlue

                &.orderActive
                    border-bottom-color: $orange

                $class-slug: tab
                @for $i from 1 through 5
                    li.#{$class-slug}:nth-child(#{$i})
                        z-index: 1005 - $i

                li.tab
                    float: left
                    width: 16.66666666666667%
                    color: $footerWhite
                    position: relative
                    text-align: center
                    cursor: pointer
                    font-size: 13px
                    +transition
                    overflow: hidden
                    text-transform: uppercase
                    +transform(scale(.90))
                    transform-origin: bottom
                    background: $footerGrey

                    .ico-svg
                        fill: white
                        stroke: white
                        display: inline-block
                        vertical-align: middle
                        width: 25px
                        margin: 0
                        padding: 0
                        margin-right: 10px
                        +transition
 
                    &:hover
                        background: darken($paleBlue, 10%)
                    
                    &.active
                        background: $paleBlue
                        z-index: 1006
                        box-shadow: 10px 0px 32px rgba(black, .1), -10px 0px 32px rgba(black, .1)
                        +transform(scale(1))

                    label
                        position: relative
                        margin: 0
                        padding: 20px
                        cursor: pointer
                        z-index: 1001

                        span
                            display: inline-block
                            vertical-align: middle
                            margin: 0
                            padding: 0

                li.tab.order
                    position: relative
                    border-left: 5px solid white
                    background: $orange
                    +transform(scale(1))

                    label 
                        span 
                            font-weight: 600                


        article.tab-content
            padding: 50px
            background: white
            border: 1px solid whitesmoke

            .tab-content

                &.tab-hidden
                    display: none

                i
                    font-size: 8px
                    position: relative
                    vertical-align: middle
                p
                    display: inline-block
                    position: relative
                    vertical-align: middle
                    padding: 0
                    margin: 0
                h2 
                    color: $paleBlue
                    text-transform: capitalize
                    margin-bottom: 30px
                    font-size: 40px

            .description-wrapper
                h2
                    
                p
                    margin-bottom: 20px
                    font-size: 20px

            .specs-wrapper
                +clear
                h2
                ul.specs-list
                    padding: 0px 30px
                    float: left
                    width: 50%
                    list-style-type: disc

                    li.specs
                        margin-bottom: 10px
                        font-size: 20px
                        i
                            color: $paleBlue

                        ul.sub-specs
                            padding-left: 40px
                            list-style-type: disc

                            li
                                margin-bottom: 5px

            .downloads-wrapper
                h2
                ul.download-category-list
                    +clear
                    li.download-category
                        font-size: 20px
                        

                        strong
                            padding: 10px
                            background: #f5f5f5
                            
                            color: white
                            display: block

                            img
                                width: 15px
                                margin-right: 10px
                            p
                                margin: 0
                                padding: 0
                                color: darkred

                        ul.download-list
                            padding: 20px 0px
                            +clear
                            li.download-item
                                float: left
                                width: 50%
                                padding: 30px 20px
                                font-size: 18px
                                +clear
                                figure.file-icon
                                    float: left
                                    width: 10%
                                    margin: 0
                                    img
                                        width: 80%

                                .download-details
                                    float: left
                                    width: 90%

                                    a
                                        color: red
                                        font-weight: 600
                                    p
                                        display: block

                                        &#rev
                                            color: grey
                                            font-size: 14px




            .product-video-wrapper
                h2
                iframe
                    height: 600px


            .dev-tools-wrapper
                header.dev-tools-header
                    text-align: center
                    margin-bottom: 20px
                    h2
                        text-align: left
                    h5
                        font-weight: 600
                        font-size: 200%
                        color: red
                    p
                        font-size: 120%

                figure.dev-tool-img
                    width: 100%
                    img
                        width: 100%


                article.dev-tool-description
                    padding: 20px
                    p

                article.dev-tool-environment

                    .environment
                        padding: 20px
                        +clear
                        figure.environment-thumb
                            float: left
                            width: 8%
                            img

                        section.environment-details
                            float: left
                            width: 92%

                            h3

                                &#designer 
                                    color: #6AA910 

                                &#viSi 
                                    color: #037298
                                
                                &#serial 
                                    color: black

                                &#viSi-Genie
                                    color: #876001
                                
                            p

            .order-details-wrapper  
                +clear   
                h2 
                    display: none

                
                .order-container
                    +clear
                    form.order-form
                        padding: 0px 20px
                        float: left
                        width: 65%
                        +clear

                        figure.order-img-wrapper
                            float: left
                            width: 35%
                            vertical-align: middle
                            height: 227px
                            
                            img
                                width: 80%
                                margin: 0 auto
                                display: block

                            figcaption
                                text-align: center
                                padding: 10px 0px
                                font-weight: 600
                                color: $paleBlue

                        .form-input
                            width: 65%
                            float: left
                            padding: 0px 20px
                            vertical-align: middle

                            label
                                font-size: 150%
                                margin-bottom: 20px

                            input
                                width: 100% !important
                                display: block
                                margin-bottom: 20px

                            button
                                font-size: 16px
                                background: $orange
                                border-color: $orange
                                width: 100%
                                +transition
                                cursor: pointer
                                text-transform: uppercase

                                i
                                    font-size: 16px
                                    vertical-align: middle
                                span
                                    vertical-align: middle
                                    margin-left: 10px

                                &:hover
                                    background: darken($orange, 10%)

                            .separator
                                width: 24px
                                height: 24px
                                border: 1px solid #cccccc 
                                +border-radius(100%)
                                position: relative
                                margin: 20px auto

                                &::before,
                                &::after
                                    content: ''
                                    position: absolute
                                    top: 50%
                                    display: block
                                    width: 232px
                                    height: 1px
                                    background: #cccccc

                                &::before
                                    left: 0%
                                    +transform(translateX(-100%))

                                &::after
                                    right: 0%
                                    +transform(translateX(100%))

                                span 
                                    position: absolute
                                    display: block
                                    top: 50%
                                    left: 50%
                                    color: #cccccc
                                    +transform

                            a.request-quote
                                display: block
                                text-align: center
                                padding: 10px 0px
                                background: #eeeeee
                                color: grey
                                +border-radius(5px)
                                text-decoration: none
                                +transition
                                text-transform: uppercase

                                &:hover
                                    background: #cccccc

                    table.quantity-table
                        float: left
                        width: 30%
                        padding: 20px

                        thead 
                            tr 

                        tbody 
                            tr
                                td


                .reel-order
                    text-align: center
                    background: $paleBlue
                    // border-left: 5px solid $orange

                    .reel-order-content
                        padding: 10px
                        display: inline-block

                        i
                            font-size: 14px
                            vertical-align: middle
                            display: inline-block
                            color: white
                            margin-right: 2px

                        label
                            padding: 0
                            margin: 0
                            color: white
                            text-transform: uppercase
                            margin-right: 10px
                            vertical-align: middle
                            
                            

                            strong
                        p
                            color: white
                            margin: 0
                            padding: 0
                            vertical-align: middle

                hr
                    margin: 40px 0px
                    border-color: whitesmoke

                    
                .order-services
                    margin-top: 40px
                    +clear

                    .services
                        float: left
                        width: 50%
                        padding: 0px 20px


                        .service
                            border-top: 3px solid $footerGrey
                            border-bottom: 3px solid $footerGrey
                            padding: 40px
                            text-align: center

                            .service-content
                                vertical-align: middle
                                display: inline-block
                                margin-right: 20px
                                
                                h3
                                    color: $paleBlue
                                p

                            img
                                vertical-align: middle
                                height: 70px

                    .dispatch
                        padding-left: 0px
                        .service-content
                            h3
                            p

                        img

                    .delivery
                        padding-right: 0px
                        .service-content
                            h3
                            p

                        img
        