section.shopping-cart-wrapper,
section.payments-wrapper
    font-family: 'Avenir'
    +clear
    padding: 50px 0px

    hr 
        border-color: #eeeeee


    header.title-wrapper
        margin: 20px 0px
        h1
            text-transform: capitalize
            font-weight: 600
            font-size: 25px

            span
                vertical-align: middle
                display: inline-block

            a
                display: inline-block
                font-size: 14px
                color: rgba($orange, .5)
                text-decoration: none
                // vertical-align: middle
                margin-left: 30px
                border: 1px solid rgba($orange, .5)
                +transition
                +border-radius
                padding: 10px

                &:hover
                    border: 1px solid rgba($orange, 1)
                    color: rgba($orange, 1)





    section.related-products-wrapper
        margin-top: 40px
        header
            h3 

        form.related-products-form
            ul.related-products-list
                +clear
                li.related-product
                    display: inline-block
                    border: 1px solid white
                    padding: 8px
                    float: left
                    +transition

                    &:hover
                        border-color: #cccccc
                        background: #eeeeee

                        input:disabled
                            background: #eeeeee

                    a
                        text-decoration: none

                    figure
                        width: 120px
                        position: relative
                        margin-bottom: 20px

                        img
                            width: 100%

                    .related-product-details
                        margin: 5px 0px
                        span 
                            display: block
                            color: $paleBlue
                            font-weight: 600
                            
                            input
                                width: 200px
                                border-style: none
                                user-select: none 
                                background: transparent
                                color: $paleBlue

                                &:disabled
                                    background: transparent


                                &#related-product-name
                                    color: black
                                    cursor: pointer

                                    &:hover
                                        color: $paleBlue

                                &#related-product-price
                                    color: $orange
                                    font-weight: 600

                    button.add-to-cart
                        border-style: none
                        background: $paleBlue
                        color: white
                        padding: 5px 10px
                        +border-radius(2px)
                        cursor: pointer
                        +transition                        

                        &:hover
                            background: darken($paleBlue, 10%)
                            




    section.cart-wrapper
        display: block 
        width: 100%
        +clear
        

        article.cart
            // border-right: 20px solid white

            &.cart-orders
                width: 100%

            &.related-products-wrapper
                width: 100%

            form.cart-form
                width: 100%
                display: block

                table.cart-table
                    width: 100%
                    display: block
                    border-right: 10px solid white

                    thead
                        width: 100%
                        border-bottom: 3px solid $paleBlue

                        tr
                            width: 100%
                            +clear

                            th
                                padding: 15px 0px
                                background: $footerGrey
                                color: white
                                text-align: center
                                font-size: 13px
                                text-transform: uppercase

                                &#items 
                                    text-align: left !important
                                    padding-left: 16px
                                

                                span
                                    font-weight: 400 !important


                    tbody
                        tr
                            width: 100%
                            border-bottom: 1px solid #eeeeee

                            td
                                text-align: center
                                padding: 20px 15px 
                                font-size: 16px
                                position: relative
                                +clear

                                &#product-num
                                    min-width: 1%
                                    width: 1%

                                &#image 
                                    min-width: 10%
                                    width: 10%

                                &#product-details-wrapper
                                    min-width: 35%
                                    width: 35%

                                &#price
                                    width: 18%
                                    min-width: 18%

                                &#quantity
                                    min-width: 18%
                                    width: 18%

                                &#subtotal
                                    min-width: 18%
                                    width: 18%
                                    

                        

                                &#product-details-wrapper
                                    font-family: 'Avenir'

                                &#price 
                                    font-family: Arial, Helvetica, sans-serif

                                &#description
                                    font-family: Arial, Helvetica, sans-serif
                                    font-size: 12px
                                    text-align: left
                                    position: relative                                    

                                    p
                                        margin: 0
                                        position: absolute
                                        top: 20px
                                        left: 20px
                                        color: $grey

                                &#price 
                                    font-family: Arial, Helvetica, sans-serif
                                    position: relative
                                    +clear

                                    &::before
                                        content: '$'
                                        position: relative
                                        border: 1px solid #cccccc
                                        padding: 10px
                                        color: $grey
                                        width: 20%
                                        float: left
                                        border-bottom-left-radius: 5px
                                        border-top-left-radius: 5px

                                    input
                                        color: $grey
                                        float: right
                                        width: 80%
                                        border-top-left-radius: 0px
                                        border-bottom-left-radius: 0px
                                        border-left: none


                                &#subtotal
                                    font-family: Arial, Helvetica, sans-serif
                                    position: relative
                                    +clear

                                    &::before
                                        content: '$'
                                        position: relative
                                        border: 1px solid #cccccc
                                        padding: 10px
                                        color: $grey
                                        float: left
                                        width: 20%
                                        border-bottom-left-radius: 5px
                                        border-top-left-radius: 5px

                                    input
                                        color: $grey
                                        float: right
                                        width: 80%
                                        border-top-left-radius: 0px
                                        border-bottom-left-radius: 0px
                                        border-left: none



                                &#quantity
                                    font-family: Arial, Helvetica, sans-serif
                                    +clear

                                    button
                                        width: 20%
                                        min-width: 20%
                                        height: 46px
                                        border: 1px solid #cccccc
                                        background: #eeeeee
                                        cursor: pointer

                                        &:link
                                            outline: none

                                        &::-moz-focus-inner
                                            outline: none

                                        &:focus
                                            outline: none


                                        &:hover
                                            background: $grey
                                            color: white
                                        
                                    
                                        &#minus 
                                            float: left 
                                            order: 1
                                            +border-radius(5px 0px 0px 5px)
                                            position: relative

                                            &::before   
                                                content: '-'
                                                position: absolute
                                                top: 50%
                                                left: 50%
                                                +transform


                                        &#plus
                                            float: right
                                            order: 3
                                            +border-radius(0px 5px 5px 0px)
                                            position: relative

                                            &::before   
                                                content: '+'
                                                position: absolute
                                                top: 50%
                                                left: 50%
                                                +transform

                                    

                                    input
                                        width: 60%
                                        min-width: 60%
                                        float: left
                                        order: 2
                                        border-left: none
                                        border-right: none
                                        +border-radius(0px)
                                        text-align: center
                                    

                                &#remove 
                                    width: 1%

                                

                                figure.prod-img-container
                                    width: 80%
                                    position: absolute
                                    top: 50%
                                    left: 50%
                                    +transform
                                    margin: 0 auto
                                    display: block

                                    a
                                        text-decoration: none

                                        img
                                            width: 100%
                                            max-width: 87px

                                header.prod-name
                                    width: 95%
                                    text-align: left

                                    .prod-name-content

                                        a 
                                            text-decoration: none
                                            color: black
                                            font-size: 16px
                                            display: inline-block
                                            

                                            p
                                                text-transform: capitalize
                                                margin: 0
                                                line-height: 20px
                                                display: inline-block
                                                font-weight: 400
                                                font-family: 'Open Sans'

                                            &:hover
                                                color: $orange


                                        label 
                                            display: block
                                            color: $grey
                                            font-size: 14px


                                        details 
                                            display: block
                                            margin-top: 5px

                                            summary 
                                                cursor: pointer
                                                font-size: 12px

                                            p
                                                font-size: 12px
                                                color: grey
                                                margin: 0
                                                

                                        details[open] summary ~ p
                                            animation: sweep 300ms ease-in-out

                                                

                                p

                                input
                                    border-style: none 
                                    text-align: center
                                    color: $grey
                                    background: none
                                    border: 1px solid #cccccc
                                    padding: 10px
                                    +border-radius

                                    &:disabled
                                        color: red

                                &#remove
                                    a
                                        color: #cccccc

                                        &:hover
                                            color: $orange

                            &.order-total
                                border-bottom: none

                                td
                                    font-size: 20px

                                    &#total
                                        color: $orange
                                        font-size: 30px
                                        font-weight: 600


.order-services
    margin-top: 100px


article.total-wrapper
    padding: 10px
    background: #eeeeee
    text-align: right
    padding-right: 93px

    label
        margin: 0
        font-weight: 600
        text-transform: uppercase
        font-size: 18px

    input 
        font-weight: 400
        border-style: none
        width: 150px
        background: transparent
        font-size: 18px
        text-align: right
        padding-right: 10px
        font-family: Arial, Helvetica, sans-serif

        &:disabled
            color: black
            

article.voucher-total-wrapper
    padding: 20px 0px
    +clear

    section.voucher-total
        float: left

    section.voucher-container
        width: 80%

        label
            font-size: 18px
            font-weight: 600
            

        .voucher-input
            max-height: 41px
            height: 41px

            input#voucher-input
                height: 100%
                padding: 10px
                width: 20%
                border-style: none
                border: 1px solid #cccccc
                +transition
                +border-radius(2px)
                text-align: center
                text-transform: uppercase

                &:focus
                    border: 1px solid $orange

            button#voucher-btn
                height: 100%
                border-style: none
                background: $orange
                padding: 10px 15px
                color: white
                border: 1px solid $orange
                cursor: pointer
                +border-radius(2px)
                +transition
                text-transform: uppercase
                font-weight: 600

                &:hover
                    background: darken($orange, 10%)

    section.proceed
        width: 20%
        position: relative

        a#proceed-btn
            padding: 10px 20px
            background: $designer
            color: white
            text-decoration: none
            display: block
            text-align: center
            +border-radius(2px)
            text-transform: uppercase
            font-weight: 600

            &:hover
                background: darken($designer, 10%)



@keyframes sweep
    0%
        opacity: 0 
        margin-left: -10px
    100%  
        opacity: 1
        margin-left: 0px