section.support-wrapper
    padding: 50px 0px
    font-family: 'Lato', Arial, Helvetica, sans-serif

    .support-header
        h1 
            text-align: center
            font-size: 60px
            color: $paleBlue
        p 
            margin: 20px 0px 50px
            font-size: 18px
            text-align: center
            color: $paleBlue

    p#support-description
        margin-bottom: 50px

    section.support-boxes
        margin-bottom: 80px
        ul.support-list
            +clear

            li.support-item
                width: 24%
                float: left
                position: relative
                background: #eeeeee
                cursor: pointer
                +boxShadow(0 1px 3px rgba(black, .1))
                +transition
                

                &::before
                    content: ''
                    width: 100%
                    height: 3%
                    position: absolute
                    top: 0
                    left: 0
                    z-index: 1000
                    +transition

                &:hover
                    
                    label,p, a
                        color: white !important
                        cursor: pointer
                    
                    img
                        &:nth-child(2)
                            opacity: 1 !important
                            // animation: rotate 15s linear infinite forwards

                        &:nth-child(1)
                            opacity: 0

                        
                    
                    &::before
                        height: 100%

                &#submit-ticket-wrapper
                    margin-right: 15px

                    &:hover
                        +boxShadow(0 8px 32px rgba($designer, .3))

                    label 
                        color: $designer
                    
                    &::before
                        background: $designer

                &#documentation-wrapper

                    &:hover
                        +boxShadow(0 8px 32px rgba($blue, .3))

                    label 
                        color: $blue

                    &::before
                        background: $blue

                &#firmware-wrapper
                    float: right

                    &:hover
                        +boxShadow(0 8px 32px rgba($purple, .3))

                    label 
                        color: $purple                    

                    &::before
                        background: $purple

                &#forum-wrapper
                    float: right
                    margin-left: 15px

                    &:hover
                        +boxShadow(0 8px 32px rgba($red, .3))
                    
                    label 
                        color: $red 

                    &::before
                        background: $red
                    

                a 
                    display: block


                article.support-box
                    width: 100%
                    padding: 30px
                    text-align: center
                    position: relative
                    z-index: 1001
                    min-height: 310px
                    height: 310px
                    

                    figure.support-icon-wrapper
                        margin: 0
                        height: 100px
                        width: 100%
                        position: relative

                        img 
                            position: absolute
                            top: 50%
                            left: 50%
                            +transform(translate(-50%, -50%))
                            height: 70%
                            width: auto
                            +transition

                            &:nth-child(2)
                                opacity: 0

                    label
                        margin: 0
                        display: block 
                        margin: 10px 0px
                        // text-transform: uppercase
                        font-size: 20px
                        font-family: $lato
                        font-weight: 600
                    
                    p 
                        height: 63px


                    a 
                        text-decoration: none
                        color: $footerGrey



    h4 
        color: $paleBlue
        border-bottom: 1px solid $paleBlue
        padding-bottom: 10px
        font-weight: 600
        margin-top: 50px
        margin-bottom: 30px
        font-size: 24px

    .existing-ticket-wrapper
        margin-bottom: 30px

        h4 
            text-transform: initial
            position: relative

            span 
                color: $red
                position: absolute
                bottom: 10px
                right: 10px
                font-style: italic
                font-size: 14px
                font-weight: normal

        .ticket-input-wrapper
            width: 100%
            float: none
            +clear

            span 
                width 1%
                float: left

            input#ticket-input
                width: 100%
                float: right
                padding: 5px 10px

        button#search-ticket-btn
            border-style: none
            padding: 5px
            width: 10%
            background: $paleBlue
            color: white 
            margin: 10px auto
            display: block
            +border-radius(2px)
            +transition
            cursor: pointer

            &:hover
                background: darken($paleBlue, 10%)

    .attachment-wrapper

        h4 

        .ticket-note-wrapper
            border-left: 5px solid $blue
            padding: 10px
            background: #eeeeee
            margin-bottom: 20px

            label 
                color: $blue
                margin: 0

            p 
                margin: 0

        .upload-wrapper
            +clear

            input 

            button#select-btn, button#upload-btn
                width: 15%
                float: right
                padding: 10px 20px 
                border-style: none
                background: $footerGrey
                color: white
                cursor: pointer
                font-size: 16px
                +transition
                +border-radius(2px)

                &:hover
                    background: lighten($footerGrey, 10%)

            button#upload-btn
                margin-left: 10px
                width: 10%
                background: $blue

                &.disabled
                    background: desaturate($blue, 50%)
                    color: rgba(white, .4)
                    cursor: not-allowed

                    &:hover
                        background: desaturate($blue, 50%)


                &:hover
                    background: darken($blue, 10%)

            label
                width: 73%
                float: left
                padding: 10px 20px
                background: whitesmoke
                color: $paleBlue
                margin: 0

        label#warning-text
            display: block
            color: $footerGrey
            padding: 10px
            border-left: 5px solid $footerGrey
            background: lighten($footerGrey, 60%)
            margin: 20px 0px
            margin-top: 10px
            +transition

            &.warn
                border-left-color: $orange
                background: lighten($orange, 45%)
                color: $orange

            &.good
                border-left-color: $designer
                background: lighten($designer, 45%)
                color: $designer

    .accept-wrapper

        .accept-item
            margin-bottom: 5px

            input, label
                display: inline-block
                vertical-align: middle
                margin: 0
                cursor: pointer

                a 
                    color: $paleBlue

    button#submit-btn
        width: 15%
        padding: 10px 20px 
        border-style: none
        background: $designer
        color: white
        cursor: pointer
        font-size: 18px
        +transition
        +border-radius(2px)
        margin-top: 20px